.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container label {
	font-weight: 400;
}

.container input::placeholder {
	font-family: Inter;
	color: #6a6a6a;
}

.container input:focus {
	outline: 0;
	box-shadow: 0px 0px 4px #b0b0b0;
}

.container span {
	font-size: 1.4rem;
	color: tomato;
	font-weight: 300;
	margin-left: 5px;
}

.container input {
	padding: 7px 14px;
	border-radius: 8px;

	background-color: #212121;
	font-family: Inter;
	color: #e0e0e0;
}

.inputNoError {
	border: 1px solid #666666;
}

.inputError {
	border: 1px solid tomato;
}
